h1#pageTitle{
	font-size:0.7em;
}
#flash{
	display:none;
	text-align: center;
}

#flash.red{
	background: #ff696f;
}

#flash.green{
	background: #57ac00;
}
.center{
	text-align: center;
}

#header_images{
	padding:5px;
	border-bottom:1px solid #eaeaea;
}

p{
	font-size:0.6em;
}

#main p{
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.content{
	margin-top: 15px;
}

#output{
	padding: 5px;
	border-top:1px solid #eaeaea;
	padding-top: 10px;
	font-size: 1em;
}

#output p{
	line-height: 1.3em;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: capitalize;
	font-weight: bold;
}

#output span{
	font-weight: normal;
	font-style: normal;
}

#output .url{
	text-transform: lowercase;
	color: #3d00ff;
}

.deals{
	font-size: 0.65em;

	color: #0000ff;
}

hr{
	color: #eaeaea;
}

h3{text-align:center; font-size:35px;}
ul.iconLinks li{font-size:12px; font-weight:normal;}


.middle{
	vertical-align: middle;
}

#flash{
	text-align:left;
}

